@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: regular;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
  background-color: #f2f2f2;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  box-shadow: 0 0 0 15px rgba(0, 0, 0, 0.2);
}

.header {
  color: #000000;
  background: #ffffff;
}

.header__container {
  display: flex;
  box-sizing: border-box;
  max-width: 1200px;
  padding: 0 71px;
  margin: 0 auto;
  position: relative;
  justify-content: space-between;
}

.nav {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
}

.nav__link {
  display: block;
  padding: 6px 12px;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-decoration: none;
  margin: 13px 10px;
}

.main {
  flex-grow: 1;
}

.main__container {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
}

.nav__list {
  display: flex;
  flex-wrap: wrap;
  max-width: 400px;
  text-align: left;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu__link {
  display: inline-block;
  width: 38px;
  min-height: 38px;
  position: relative;
  color: #000000;
  list-style-type: none;
}

.menu__list {
  display: flex;
  margin: 0;
  padding: 0;
}

.menu__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo__link {
  padding-bottom: 0;
  width: 138px;
  text-align: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%);
  z-index: 1;
}

.menu__link__link--chosen {
  display: inline-block;
  font-family: "PT Sans", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  line-height: 20.7px;
  text-align: center;
  color: #fcfcfc;
  background-color: #756257;
  width: 160px;
  border-radius: 4px;
  background-clip: padding-box;
  padding: 9px 10px;
  min-height: 18px;
  margin-left: 10px;
  cursor: pointer;
}

.menu__link__link--chosen:hover {
  background-color: #615048;
}

.menu__link__link--chosen:focus {
  box-shadow: 0 0 0 3px #83b3d3;
  background-color: #615048;
}

.menu__link__link--chosen:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #615048;
  box-shadow: none;
}

.menu__item.item {
  margin-right: 23px;
  position: relative;
}

.menu {
  display: flex;
  align-items: center;
}

.menu__item,
.menu__item.item,
.social__list,
.breadcrumbs__item,
.filter__list,
.hotels__item,
.pagination__item,
.sorting__item {
  list-style-type: none;
}

.round-green {
  color: #ffffff;
  display: block;
  width: 19px;
  height: 19px;
  font-size: 10px;
  line-height: 13px;
  padding-top: 2px;
  box-sizing: border-box;
  padding-left: 4px;
  background-color: #7db54f;
  border-radius: 50%;
  position: absolute;
  top: 3px;
  right: -4px;
  z-index: 1;
}

.nav__link--active:hover {
  color: #756257;
}

.nav__link--active:focus {
  color: #756257;
  outline: 3px solid #83b3d3;

  box-sizing: border-box;
  border-radius: 10px;
}

.nav__link--active {
  text-decoration: underline 2px #756257;

  text-underline-offset: 18px;
}

.nav__link:hover {
  color: #756257;
}

.nav__link:focus {
  color: #756257;
  outline: 3px solid #83b3d3;

  box-sizing: border-box;
  border-radius: 10px;
}

.nav__link--active {
  text-decoration: underline 2px #756257;
  text-underline-offset: 18px;
}

.menu__link:hover path {
  fill: #756257;
}
.menu__link:focus {
  color: #756257;
  outline: 3px solid #83b3d3;
  box-sizing: border-box;
  border-radius: 10px;
}

.menu__link:active {
  color: #756257;
  opacity: 0.3;
  outline: 0;
}

.menu__link:hover path {
  fill: #756257;
}

.menu__link.link:focus {
  box-shadow: 0 0 0 3px #83b3d3;
}

.menu__link.link:active {
  color: #756257;
  opacity: 0.3;
}

.advantages__container {
  display: flex;
}

.features__highlight {
  margin: 0 auto;
  background-color: #ffffff;
  padding: 63px 240px 79px 240px;
}

.features__greetings {
  background-image: url("../images/background/sedona.png");
  background-color: #83b3d3;
  background-repeat: no-repeat;
  color: #ffffff;
  background-size: cover;
  width: 1200px;
  height: 485px;
  position: relative;
}

.features__greetings::after {
  width: 100%;
  height: 57px;
  content: "";
  background: url("../images/background/collar.svg") no-repeat center center;
  display: block;
  left: 50%;
  bottom: 0;
  transform: translate(-50%);
  position: absolute;
}

.features__text {
  line-height: 36px;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  margin: 0;
  margin-bottom: 23px;
  text-transform: uppercase;
}

.features__cause {
  line-height: 36px;
  font-size: 22px;
  font-weight: 400;
  text-align: center;
  margin: 0;
}

.advantages__list {
  display: flex;

  margin: 0;
  padding: 0;
  text-align: center;
  list-style-type: none;
}

.container__title {
  line-height: 28px;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
}

.advantages__title {
  line-height: 28px;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  color: #000000;

  margin: 0 0 20px 0;
}

.advantages__title.next {
  margin: 0 0 25px 0;
}
.advantages__paragraph {
  margin: 0;
  max-width: 250px;
}

.container__text {
  max-width: 220px;
  width: 100%;
  margin: 0;
}

.container__textkh {
  max-width: 250px;
  width: 100%;
  margin: 0;
}

.container__info {
  color: #ffffff;
  background-color: #83b3d3;
  background-image: url("../images/background/background-real-town.svg");
  max-width: 400px;
  text-align: center;
  padding: 96px 90px 75px 90px;
}

.container__title {
  line-height: 28px;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  margin: 0 0 25px 0;
}

.container__number {
  margin: 0 0 26px 0;
  text-align: center;
}

.advantages__container {
  display: flex;
}

.container__image {
  display: block;
}

.advantages__item--lodging {
  background-color: rgba(131, 179, 211, 0.12);
  background-image: url("../images/background/lodging.svg");
  max-width: 400px;

  text-align: center;
  padding: 184px 75px 79px 75px;
}

.advantages__item--food {
  color: #333333;
  background-color: #ffffff;
  background-image: url("../images/background/food.svg");
  max-width: 400px;
  padding: 184px 75px 79px 75px;
  text-align: center;
}

.advantages__item--souvenirs {
  background-color: #83b3d31f;
  background-image: url("../images/background/souvenirs.svg");
  max-width: 400px;
  text-align: center;
  padding: 184px 75px 79px 75px;
}

.advantages__item--square {
  background-color: rgba(131, 179, 211, 0.12);
  background-image: url("../images/background/square_tourists.svg");
  max-width: 400px;
  padding: 98px 75px 77px 75px;
  text-align: center;
}

.advantages__item--road {
  background-color: rgba(131, 179, 211, 0.2);
  background-image: url("../images/background/road.svg");
  max-width: 400px;
  text-align: center;
  padding: 98px 75px 77px 75px;
}

.advantages__item--tourists {
  background-color: rgba(131, 179, 211, 0.12);
  background-image: url("../images/background/square_tourists.svg");
  max-width: 400px;
  padding: 98px 75px 77px 75px;
  text-align: center;
}

.booking {
  background-color: #ffffff;
  max-width: 720px;
  padding: 91px 240px;
}

.booking__heading {
  line-height: 36px;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 91px;
  margin: 0px;
  justify-content: center;
}

.booking__paragraph {
  line-height: 26px;
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 15px;
  justify-content: center;
  min-width: 720px;
}

.booking__button {
  font-family: "PT Sans", sans-serif;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  color: #fcfcfc;
  background-color: #756257;
  width: 575px;
  border-radius: 10px;
  background-clip: padding-box;
  padding: 13px 17px;
  margin-top: 91px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  cursor: pointer;
}

.booking__button:hover {
  color: #615048;
}

.booking__button:focus {
  box-shadow: 0 0 0 3px #83b3d3;
}

.booking__button:active {
  color: #615048;
  opacity: 0.3;
  outline: 0;
}

.placeholder:hover {
  color: #e5e5e5;
}

.placeholder:focus {
  box-shadow: 0 0 0 3px #83b3d3;
}
.input[type="text"]:placeholder__shown:active {
  border: 2px solid #000000;
}

.input.ng-invalid.ng-touched {
  border: red 1px solid;
}

.mailing__button:hover {
  color: #68a2ca;
}

.mailing__button:focus {
  box-shadow: 0 0 0 3px #756257;
}
.mailing__button:active {
  color: #756257;
  opacity: 0.3;
  outline: 0;
}

.mailing {
  background-image: url("../images/background/bridge.png");
  background-color: #83b3d3;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
  padding: 94px 200px;
  box-sizing: border-box;
}

.mailing__heading {
  line-height: 36px;
  font-size: 30px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.mailing__paragraph {
  color: #ffffff;
  line-height: 26px;
  font-size: 22px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 26px;
}

.mailing__input {
  border: 0;
  font-family: "PT Sans", sans-serif;
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  color: #000000;
  background-color: #f2f2f2;
  width: 600px;
  border-radius: 10px 0 0 10px;
  background-clip: padding-box;
  max-height: 60px;
  padding: 17px 17px;
  box-sizing: border-box;
}

.mailing__button {
  font-family: "PT Sans", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  color: #fcfcfc;
  background-color: #83b3d3;
  border: 0;
  border-radius: 0 10px 10px 0;
  background-clip: padding-box;
  padding: 17px 34px;
  box-sizing: border-box;
  cursor: pointer;
}

.mailing__form {
  display: flex;
  align-items: center;
  vertical-align: center;
}

.mailing__button,
.mailing__input {
  margin: 0;
}

.footer__container {
  display: flex;
  position: relative;
  width: 1056px;
  margin: 0 auto;
  align-items: center;
  padding: 40px 72px 30px 72px;
  background-color: #ffffff;
}

.footer__social social {
  min-height: 120px;
  padding: 40px 30px 72px 45px;
}

.footer__copyright.copyright {
  text-align: left;
  margin-left: auto;
  background-color: #ffffff;
}

.social__list {
  display: flex;
  text-align: right;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  background-repeat: no-repeat;
}

.footer__social {
  margin-right: 61px;
}

.social__list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
  width: 100%;
}

.social__item {
  width: 40px;
  height: 40px;

  margin-left: 5px;
  display: block;
}

.social__link {
  display: block;

  padding: 10px 10px;
}

.social__link.social--facebook {
  display: block;

  padding: 10px 13px;
}
.copyright__link {
  display: block;

  padding: 9px 11px;
}

.social__twitter:hover {
  fill: #68a2ca;
}

.social__facebook:hover {
  fill: #68a2ca;
}

.social__youtube:hover {
  fill: #68a2ca;
}

.social__link:focus {
  color: #68a2ca;
  outline: 3px solid #83b3d3;

  box-sizing: border-box;
  border-radius: 10px;
}

.social__link:active {
  color: #68a2ca;
  opacity: 0.3;
  outline: 0;
}

.copyright__image:hover {
  color: #756257;
}

.copyright__link:focus {
  color: #68a2ca;
  outline: 3px solid #83b3d3;
  box-sizing: border-box;
  border-radius: 10px;
}

.copyright__link:active {
  color: #756257;
  opacity: 0.3;
  outline: 0;
}

.contacts__phone:hover {
  color: #756257;
}

.contacts__phone:focus {
  color: #756257;
  outline: 3px solid #83b3d3;

  box-sizing: border-box;
  border-radius: 10px;
}

.copyright__link:active {
  color: #756257;
  opacity: 0.3;
  outline: 0;
}

.footer__contacts contacts {
  max-width: 720px;
  margin-right: 50px;
}

.contacts__phone {
  display: inline-block;
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  text-align: center;
  color: #000000;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px;

  text-align: center;
  text-decoration: none;
  background-color: #ffffff;
}

.filters {
  background-image: url(../images/background/catalog-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  width: 1056px;
  display: flex;
  margin: 0;
  padding: 35px 72px 83px 72px;
  flex-direction: column;
}

.filters__form {
  display: flex;
  width: 100%;
  padding: 0;
  margin: 0;
}

.filters__heading {
  color: #ffffff;
  line-height: 78px;
  font-size: 60px;
  font-weight: 700;
  padding: 0;
  margin: 0;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

.breadcrumbs__list {
  display: flex;
  margin: 0 0 0 0px;
  list-style-type: none;
  padding: 0;
}

.breadcrumbs___icon--home svg:hover {
  fill: #ffffff;
  opacity: 0.6;
}
.breadcrumbs__label:hover {
  fill: #ffffff;
  opacity: 0.6;
}

.breadcrumbs___icon--home svg:focus {
  box-shadow: 0 0 0 3px #83b3d3;
  outline: none;
  border-radius: 2px;
}

.breadcrumbs__label:focus {
  box-shadow: 0 0 0 3px #83b3d3;

  border-radius: 2px;
}

.breadcrumbs___icon--home svg:active {
  fill: #ffffff;
  opacity: 0.3;
}

.breadcrumbs__label:active {
  fill: #ffffff;
  opacity: 0.3;
}

.arrow {
  color: #ffffff;
  opacity: 0.3;
  cursor: pointer;
  text-decoration: none;

  display: inline-block;
}
.breadcrumbs___icon--home {
  margin: 0 10px 0 0;
}

.breadcrumbs__label {
  color: #ffffff;
  line-height: 21px;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

.filter__title {
  color: #ffffff;
  line-height: 26px;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 30px;
  padding: 0;
}

.hotels__title {
  color: #000000;
  line-height: 31px;
  font-size: 24px;
  font-weight: 700;
}

.breadcrumbs__label {
  color: #ffffff;
  line-height: 21px;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

.control__label {
  color: #ffffff;
  line-height: 24px;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

.filters__filter.filter,
.filter__catalog {
  margin: 45px 67px 40px 0;
  margin-bottom: 0 40px;
  padding: 0;
  border: none;
}

.filter__catalog {
  margin: 45px 167px 40px 0;
  margin-bottom: 0 40px;
  padding: 0;
  border: none;
}

.filter__cost {
  margin: 45px 81px 40px 0;

  padding: 0;
  border: none;
}
.filter__resalt {
  margin: 105px 0 0 0;

  border: none;
  padding: 0;
}

.filter__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.filter__item:not(:last-child) {
  margin-bottom: 13px;
}

.filter__submit.button:hover {
  color: #68a2ca;
}

.filter__submit.button:focus {
  box-shadow: 0 0 0 3px #ffffff;
  color: #68a2ca;
}
.filter__submit.button:active {
  color: #68a2ca;
  opacity: 0.3;
  outline: 0;
}

.filter__reset.button:hover {
  color: #ffffff;
  opacity: 0.6;
}

.filter__submit.button:focus {
  box-shadow: 0 0 0 3px #83b3d3;
}
.filter__submit.button:active {
  color: #ffffff;
  opacity: 0.3;
  outline: 0;
}

.control {
  position: relative;
  display: block;
  padding-left: 40px;
  line-height: 24px;
  font-weight: 400;
}

.control__mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background-color: #ffffff;
}

.control:hover .control__mark {
  background-color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
}

.control:focus .control__mark {
  box-shadow: 0 0 0 3px #83b3d3;
  border-radius: 3px;
}

.control:active .control__mark {
  background-color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
}

.control__input[type="checkbox"]:checked + .control__mark::before,
.control__input[type="checkbox"]:checked + .control__mark::after {
  position: absolute;
  top: 2px;
  left: 6px;
  width: 6px;
  height: 9px;
  border: solid #3f5e72;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  content: "";
}

.control__input[type="radio"] + .control__mark {
  border-radius: 50%;
}

.control__input[type="radio"]:checked + .control__mark::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: #3f5e72;
  border-radius: 50%;
  content: "";
}

.control__input[type="radio"] + .control__mark {
  border-radius: 50%;
}

.filter__range__filter--title {
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  color: #ffffff;
  margin-bottom: 34px;
}

.filter__price {
  position: relative;

  height: 48px;
  margin-bottom: 32px;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.filter__price::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 48px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.filter__price label {
  display: inline-block;
  font-size: 18px;
  line-height: 23px;
  vertical-align: top;
  color: #ffffff;
  cursor: pointer;
  opacity: 0.3;
}

.filter__price .min-price,
.filter__price .max-price {
  width: 17px;
  margin: 12px 14px 13px 0;
  padding: 0 0 0 50px;
}

.filter__price .min-price::-webkit-outer-spin-button,
.filter__price .min-price::-webkit-inner-spin-button,
.filter__price .max-price::-webkit-outer-spin-button,
.filter__price .max-price::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.filter__price input {
  width: 40px;
  margin: 14px 0 11px 15px;
  color: #ffffff;
  font: inherit;
  display: inline-block;
  font-size: 18px;
  line-height: 23px;
  vertical-align: top;
  background: none;
  border: none;
  outline: none;
}

.filter__controls {
  position: relative;

  margin-bottom: 32px;
}

.filter__controls .filter__scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.filter__controls .filter__bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.filter__toggle {
  position: absolute;
  top: -9px;
  width: 20px;
  height: 20px;
  background: #ffffff;

  border-radius: 5px;
  cursor: pointer;
}

.filter__toggle:hover {
  opacity: 0.25;
}

.filter__toggle:focus {
  box-shadow: 0 0 0 3px #83b3d3;
  opacity: 0.25;
}
.filter__toggle:active {
  box-shadow: 0 0 0 3px #83b3d3;
  opacity: 0.4;
}

.toggle--min {
  left: 0;
}

.toggle--max {
  left: 80%;
}

.label.min-price + .input.filter__input--min:hover {
  display: block;
  box-shadow: 0 0 0 3px #ffffff;
  opacity: 0.6;
}
.label.min-price + .input.filter__input--min:focus {
  display: block;
  outline: 0 0 0 3px #81b3d2;
  box-shadow: 0 0 0 3px #ffffff;
}

.label.min-price + .input.filter__input--min:active {
  display: block;
  outline: 0 0 0 3px #ffffff;
  background-color: #756257;
}

.filter__submit.button {
  font-family: "PT Sans", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  text-align: center;
  color: #fcfcfc;
  background-color: #83b3d3;
  border: 0;
  border-radius: 4px;
  background-clip: padding-box;
  padding: 15px 34px;
  box-sizing: border-box;
  cursor: pointer;
}

.filter__reset.button {
  font-family: "PT Sans", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  text-align: center;
  color: #fcfcfc;
  background: none;
  border: 0;
  border-radius: 4px;
  background-clip: padding-box;
  padding: 15px 34px;
  box-sizing: border-box;
  cursor: pointer;
}

.filter__button {
  display: flex;
  flex-direction: column;
}

.sorting {
  width: 1056px;
  padding: 42px 72px 20px 72px;
  background-color: #ffffff;
}

.sorting__control {
  padding: 19px 20px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: #333333;
  text-decoration: none;
  margin: 0;
}

.sorting__counter {
  color: #000000;
  line-height: 38px;
  font-size: 30px;
  font-weight: 700;
  margin: 0 220px 0 0;
  padding: 0;
}

.sorting__control {
  width: 100%;
  padding: 12px 19px;
  padding-right: 38px;
  font-weight: 400;
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  background-image: url(../images/icons/dropdown.svg);
  background-repeat: no-repeat;
  background-position: right 21px center;
  appearance: none;
  margin: 0 81px 0 0;
  border-radius: 4px;
}

.sorting__control:hover {
  box-shadow: 0 0 0 2px #83b3d3;
  outline: none;
}

.sorting__control:focus {
  box-shadow: 0 0 0 2px #83b3d3;
  outline: none;
}

.sorting__control:active {
  box-shadow: 0 0 0 2px #e5e5e5;
  outline: none;
}

.sorting__container {
  display: flex;
}

.sorting__button {
  display: flex;
  margin-left: auto;
}

.sorting__button--grid,
.sorting_button--column {
  margin: 0 8px 0 0;
}

.sorting_button--column:hover {
  box-shadow: 0 0 0 2px #83b3d3;
  outline: none;
}

.sorting_button--column:focus {
  box-shadow: 0 0 0 2px #83b3d3;
  outline: none;
  border-radius: 4px;
}

.sorting_button--column:active {
  box-shadow: 0 0 0 2px #000000;
  outline: none;
  border-radius: 4px;
}

.sorting__button--grid:hover {
  box-shadow: 0 0 0 2px #83b3d3;
  outline: none;
  border-radius: 4px;
}
.sorting__button--grid:focus {
  box-shadow: 0 0 0 2px #83b3d3;
  outline: none;
  border-radius: 4px;
}

.sorting__button--grid:active {
  box-shadow: 0 0 0 2px #000000;
  outline: none;
  border-radius: 4px;
}

.sorting__button--list.sorting__button--active:hover {
  box-shadow: 0 0 0 2px #83b3d3;
  outline: none;
  border-radius: 4px;
}

.sorting__button--list.sorting__button--active:focus {
  box-shadow: 0 0 0 2px #83b3d3;
  outline: none;
  border-radius: 4px;
}

.sorting__button--list.sorting__button--active:focus {
  box-shadow: 0 0 0 2px #000000;
  outline: none;
  border-radius: 4px;
}

.info__heading {
  color: #ffffff;
  line-height: 78px;
  font-size: 60px;
  font-weight: 700;
  text-align: center;
}

.adressing {
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
  color: #000000;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
  padding: 94px 200px;
  box-sizing: border-box;
}

.adressing__heading {
  line-height: 36px;
  font-size: 30px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.adressing__paragraph {
  color: #000000;
  line-height: 26px;
  font-size: 22px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 26px;
}

.adressing__input {
  border: 0;
  font-family: "PT Sans";
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  color: #000000;
  background-color: #f2f2f2;
  width: 600px;
  border-radius: 10px 0 0 10px;
  background-clip: padding-box;
  max-height: 60px;
  padding: 17px 17px;
  box-sizing: border-box;
}

.adressing__button {
  font-family: "PT Sans", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  color: #fcfcfc;
  background-color: #83b3d3;
  border: 0;
  border-radius: 0 10px 10px 0;
  background-clip: padding-box;
  padding: 17px 34px;
  box-sizing: border-box;
  cursor: pointer;
}

.adressing__form {
  display: flex;
  align-items: center;
  vertical-align: center;
}

.adressing_button,
.adressing__input {
  margin: 0;
}

.pagination__button {
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  color: #fcfcfc;
  background-color: #83b3d3;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hotels {
  width: 1056px;
  margin: 0 auto;
  padding: 28px 0 30px 0;
  border-bottom: 1px solid #e5e5e5;
}

.hotels__list {
  list-style-type: none;
  margin: 0 auto;
  padding: 0 0 31px 0;
}

.hotels__item {
  display: flex;
  padding: 30px 0 0 0;
  border-bottom: solid #e5e5e5;
}

.hotels__item:first-child {
  border-top: solid #e5e5e5;
}

.hotels__inner {
  margin: 0;
  padding: 0 0 0 36px;
}
.hotels__paragraph {
  margin: 0;
  padding: 0;
}

.hotels__title {
  font-family: "PT Sans", sans-serif;;
  text-decoration: none;
  color: #000000;
  line-height: 31px;
  font-size: 24px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.hotels__title:hover {
  color: #756257;
}

.hotels__title:focus {
  box-shadow: 0 0 0 2px #83b3d3;
  outline: none;
  border-radius: 4px;
  color: #756257;
}
.hotels__title:active {
  opacity: 0.3;
  color: #756257;
}

.hotels__type {
  font-family: "PT Sans", sans-serif;
  text-decoration: none;
  color: #333333;
  line-height: 24px;
  font-size: 18px;
  font-weight: 400;
  margin: 0 78px 0 0;
  padding: 0;
}

.hotels__typekh {
  font-family: "PT Sans", sans-serif;
  text-decoration: none;
  color: #333333;
  line-height: 24px;
  font-size: 18px;
  font-weight: 400;
  margin: 0 100px 0 0;
  padding: 0;
}

.hotels__typekhk {
  font-family: "PT Sans", sans-serif;
  text-decoration: none;
  color: #333333;
  line-height: 24px;
  font-size: 18px;
  font-weight: 400;
  margin: 0 52px 0 0;
  padding: 0;
}

.hotels__price {
  font-family: "PT Sans", sans-serif;
  text-decoration: none;
  color: #333333;
  line-height: 24px;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.hotels__button__button--thorough {
  font-family: "PT Sans", sans-serif;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  color: #fcfcfc;
  background-color: #756257;
  width: 151px;
  border-radius: 4px;
  background-clip: padding-box;
  padding: 9px 33px 10px 33px;
  display: inline-block;
  box-sizing: border-box;
  margin: 26px 0 0 0;
  cursor: pointer;
}

.hotels__button__button--thorough:hover {
  background-color: #615048;
  outline: none;
}

.hotels__button__button--thorough:focus {
  background-color: #615048;
  box-shadow: 0 0 0 3px #83b3d3;
  outline: none;
  border-radius: 4px;
}

.hotels__button__button--thorough:active {
  background-color: #615048;
  color: #ffffff;
  opacity: 0.3;
  outline: none;
}

.hotels__button__button--chosen {
  width: 160 px;
  font-family: "PT Sans", sans-serif;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  color: #fcfcfc;
  background-color: #83b3d3;
  border-radius: 4px;
  background-clip: padding-box;
  padding: 9px 31px 10px 31px;
  display: inline-block;
  box-sizing: border-box;
  margin: 26px 0 0 0;
  cursor: pointer;
}

.hotels__button__button--chosen:hover {
  color: #ffffff;
  background-color: #68a2ca;
  box-shadow: 0 0 0 1px #756257;
  outline: none;
}

.hotels__button__button--chosengreen:focus {
  color: #ffffff;
  background-color: #68a2ca;
  box-shadow: 0 0 0 3px #756257;
  outline: none;
}

.hotels__button__button--chosengreen:active {
  color: #ffffff;
  opacity: 0.3;
  background-color: #68a2ca;
  box-shadow: 0 0 0 3px #756257;
  outline: none;
}

.opacity:hover {
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.hotels__photo:hover {
  opacity: 0.6;
  outline: none;
  filter: alpha(opacity=60);
}

.hotels__photo:focus {
  box-shadow: 0 0 0 3px #83b3d3;
  outline: none;
}

.hotels__photo:active {
  opacity: 0.3;
  outline: none;
  filter: alpha(opacity=30);
}

.hotels__button__button--chosengreen {
  width: 160 px;
  font-family: "PT Sans", sans-serif;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  color: #fcfcfc;
  background-color: #7db54f;
  border-radius: 4px;
  background-clip: padding-box;
  padding: 9px 31px 10px 31px;
  display: inline-block;
  box-sizing: border-box;
  margin: 26px 0 0 0;
  cursor: pointer;
}

.hotels__button__button--chosengreen:hover {
  color: #ffffff;
  background-color: #6c9e42;
  outline: none;
}

.hotels__button__button--chosengreen:focus {
  color: #ffffff;
  background-color: #6c9e42;
  box-shadow: 0 0 0 3px #756257;
  outline: none;
  border-radius: 4px;
}

.hotels__button__button--chosengreen:active {
  color: #ffffff;
  opacity: 0.3;
  background-color: #6c9e42;

  outline: none;
  border-radius: 4px;
}

.hotels__rating {
  margin-left: auto;
  text-align: center;
}

.hotels__stars > span {
  color: #83b3d3;

  display: inline-block;
  max-width: 18px;

  padding: 0 0 0 8px;
}

.hotels__linklevel {
  box-sizing: border-box;
  text-align: center;
  font-family: "PT Sans";
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  color: #333333;
  background-color: #f2f2f2;
  width: 160px;
  border-radius: 4px;
  padding: 9px 31px 10px 31px;
  margin: 63px 0 30px 0;
}

.hotels__button {
  font-family: "PT Sans", sans-serif;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  color: #fcfcfc;
  background-color: #83b3d3;
  width: 625px;
  border-radius: 4px;
  background-clip: padding-box;
  padding: 21px 21px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  cursor: pointer;
}

.hotels__link {
  text-decoration: none;
  padding: 0;
  margin: 0;
}
.pagination {
  width: 1056px;
  padding: 31px 72px 0 72px;
  background-color: #ffffff;
}

.pagination__container {
  display: flex;
  margin-left: auto;
}

.pagination__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination__item:not(:last-child) {
  margin-right: 8px;
}

.pagination__link {
  display: block;
  box-sizing: border-box;
  text-align: center;
  width: 55px;
  height: 55px;
  padding: 15px 0 15px 0;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  background-color: #83b3d3;
  text-decoration: none;
  border-radius: 4px;
}

.pagination__link:hover {
  background-color: #68a2ca;
}

.pagination__link:focus {
  box-shadow: 0 0 0 3px #756257;
  outline: none;
  border-radius: 4px;
}

.pagination__link:active {
  background-color: #68a2ca;
}

.pagination__link__pagination--current {
  display: block;
  color: #000000;
  background-color: #f2f2f2;
  text-align: center;
  box-sizing: border-box;
  width: 55px;
  height: 55px;
  padding: 15px 0 15px 0;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
}

.pagination__counter {
  color: #333333;
  line-height: 23px;
  font-size: 18px;
  font-weight: 400;
  margin-right: 50px;
  padding: 0;
}

.pagination__control {
  width: 100%;
  padding: 12px 17px;
  padding-right: 125px;
  font-weight: 400;
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  background-image: url(../images/icons/dropdown.svg);
  background-repeat: no-repeat;
  background-position: right 21px center;
  appearance: none;
  border-radius: 4px;
  margin: 0 51 0 0;
}

.popover {
  position: absolute;

  cursor: pointer;
  margin: 0 20px 20px -180px;
  z-index: 1;
  box-sizing: border-box;
  padding: 25px 0 0 0;
  font-family: "PT Sans", sans-serif;
  color: #000000;
  background-color: #ffffff;
  min-height: 232px;
  box-shadow: 28px 25px 25px 0 rgb(79 70 60 / 16%);
  border-radius: 20px;
  display: none;
}

.popover-open {
  display: block;
}

.popover::before {
  content: "";
  top: -8px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  width: 20px;
  height: 9px;
  width: 20px;
  height: 10px;
  background-image: url("data:image/svg+xml,<svg viewBox='0 0 20 10' xmlns='http://www.w3.org/2000/svg'><path d='m10 0 10 9H0' fill='%23e4e4e4'/><path d='m10 1 10 9H0' fill='%23fff'/></svg>");
}

.popover-content {
  height: 100%;
}

.cart__items--list {
  margin: 0 25px 0 25px;
  padding: 0;
  list-style-type: none;
}

.cart__item {
  display: flex;
  border: none;
  outline: none;
  padding: 0;
}

.popover__cart {
  width: 400px;
}

.popover__button.button--light {
  background-color: #756257;
  background-repeat: no-repeat;
  margin: 0 0 0 0;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  font-weight: 700;
  border-radius: 0 0 20px 20px;
  width: 400px;
  min-height: 60px;
  text-transform: uppercase;
  text-align: center;
  padding: 0;
  box-sizing: border-box;
  border: transparent;
  cursor: pointer;
}

.popover__button.button--light:hover {
  color: #615048;
}

.cart__delete :focus {
  box-shadow: 0 0 0 3px #83b3d3;
  outline: none;
  color: #615048;
}

.cart__delete :active {
  color: #615048;
}

.cart__title {
  margin: 0 64px 0 0;
  padding: 0;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  font-weight: 700;
}

.cart__paragraph {
  margin: 0;
  padding: 3px;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
}

.cart__photo {
  margin-bottom: 25px;
  margin-right: 17px;
}

.cart__photo:hover {
  opacity: 0.6;
  outline: none;
  filter: alpha(opacity=60);
}

.cart__photo + .cart__paragraph + .cart__title :hover {
  opacity: 0.6;
  outline: none;
  filter: alpha(opacity=60);
}

.cart__photo + .cart__paragraph + .cart__title :focus {
  box-shadow: 0 0 0 3px #83b3d3;
  outline: none;
}

.cart__photo + .cart__paragraph + .cart__title :active {
  opacity: 0.3;
  outline: none;
  filter: alpha(opacity=30);
}

.cart-item-button.button {
  margin-bottom: 57px;
  border: none;
  outline: none;
  color: #000000;
  opacity: 0.2;
  margin-left: auto;
  cursor: pointer;
}

.cart__delete:hover {
  fill: #000000;
}

.cart__delete :focus {
  box-shadow: 0 0 0 3px #83b3d3;
  outline: none;
}

.cart__delete :active {
  opacity: 0.1;
  fill: #000000;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal {
  position: relative;
  margin: auto;
  padding: 62px 70px 70px 70px;
  background-color: #ffffff;
}

.modal-auth {
  width: 575px;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 54px;
  right: 70px;
  width: 53px;
  height: 53px;
  background-color: #ffffff;
  border: none;
  background-image: url(../images/icons/modalclose.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal-close-button:hover {
  fill: #e5e5e5;
}

.modal-close-button:focus {
  box-shadow: 0 0 0 3px #83b3d3;
  outline: none;
  border-radius: 50%;
}
.modal-close-button:active {
  fill: #e5e5e5;
}

.modal-title {
  margin: 0;
  margin-bottom: 24px;
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 40px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.auth-form .field-group {
  margin: 0;
  margin-bottom: 0;
  margin-left: auto;
}

.auth-form-user-options {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
}
.auth-form-field.field {
  margin: 40px 0 0 0;
  padding: 17px 19px;
  font: inherit;
  font-weight: 700;
  background-color: #f2f2f2;
  box-shadow: 0 0 0 4px #f2f2f2;
  outline: none;
  border-radius: 4px;
  border: none;
  color: #000000;
  size: 18px;
}

.auth-form-user-options .control-label {
  font-weight: 400;
}

.auth-form .field {
  width: 382px;
}

.number-form-field.field {
  width: 103px;
  margin: 40px 0 0 0;
  padding: 17px 19px;
  font: inherit;
  font-weight: 700;
  background-color: #f2f2f2;
  box-shadow: 0 0 0 4px #f2f2f2;
  outline: none;
  border-radius: 4px;
  border: none;
  text-align: center;
  color: #000000;
  size: 18px;
}

.number-form-field.field.adults {
  width: 103px;
  margin: 40px 0 0 70px;
  padding: 17px 19px;
  font: inherit;
  font-weight: 700;
  background-color: #f2f2f2;
  box-shadow: 0 0 0 4px #f2f2f2;
  outline: none;
  border-radius: 4px;
  border: none;
  text-align: center;
  color: #000000;
  size: 18px;
}

.number-form-user-options .control-label {
  font-weight: 400;
}

.number-form-user-options {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
}

.modal__date {
  font-weight: 700;
  line-height: 40px;
  margin: 45px 0 0 0;
  padding: 0;
}

.modal__number {
  font-weight: 700;
  line-height: 40px;
  margin: 45px 0 0 0;
  padding: 0;
}

.modal__booking {
  display: flex;
}

.modal__textred {
  margin: 0 0 22px 150px;
  padding: 0 0 0 0;
  line-height: 40px;
  font-size: 16px;
  color: #ff5757;
}

.modal__text {
  font-size: 16px;
  line-height: 40px;
  margin: 0 0 22px 150px;
}

.modal__options {
  display: flex;
}

.modal__numberchildren {
  font-weight: 700;
  line-height: 40px;
  margin: 45px 0 0 56px;
}

.tooltip {
  display: none;
  position: absolute;
  bottom: 40px;
  left: 335px;
  border: 1px solid #b9b9b9;
  border-radius: 1px;
  background: #fcfcfc;
  padding: 15px 18px 18px 22px;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  width: 256px;
  background-color: #333333;
  box-sizing: border-box;
  border-radius: 10px;
  font-weight: 400;
  margin-left: 11px;
}

.tooltip::before {
  content: "";
  width: 20px;
  height: 9px;
  background-image: url("data:image/svg+xml,<svg viewBox='0 0 20 9' xmlns='http://www.w3.org/2000/svg'><path d='M10 0 10 9H0' fill='%23333'/></svg>");
  background-repeat: no-repeat;
  transform: rotate(225deg);
  left: 125px;
  bottom: 130px;
  position: absolute;
}

.info:hover ~ .tooltip {
  display: block;
}

.info {
  border: none;
  background: none;
  margin: 42px 10px 0 10px;
  padding: 0;
}

.modal__button {
  font-family: "PT Sans", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  color: #fcfcfc;
  background-color: #83b3d3;
  border: transparent;
  border-radius: 10px;
  padding-top: 22px;
  padding-bottom: 22px;
  width: 100%;
  cursor: pointer;
  margin-top: 40px;
}

.modal__button:hover {
  background-color: #68a2ca;
}

.button-plus:focus {
  box-shadow: 0 0 0 3px #68a2ca;
  outline: none;
  border-radius: 4px;
}
.button-plus:active {
  background-color: #68a2ca;
}

.calendar {
  top: 48%;
  position: absolute;
  right: 90px;
  bottom: 5px;
  width: 15px;
  height: 15px;
  background-color: none;
  border: none;
  background-image: url(../images/icons/date.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.calendararrival {
  top: 27.5%;
  position: absolute;
  right: 90px;
  bottom: 5px;
  width: 15px;
  height: 15px;
  background-color: none;
  border: none;
  background-image: url(../images/icons/date.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.button-more-less.more {
  position: absolute;
  top: 68%;
  left: 330px;
  width: 13px;
  height: 13px;
  background-color: transparent;
  border: none;
  background-image: url(../images/icons/Plus.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.button-more-less.less {
  position: absolute;
  top: 69%;
  left: 240px;
  width: 13px;
  height: 1px;
  background-color: transparent;
  border: none;
  background-image: url(../images/icons/Minus.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.button-plus {
  position: absolute;
  top: 68%;
  left: 617px;
  width: 13px;
  height: 13px;
  background-color: transparent;
  border: none;
  background-image: url(../images/icons/Plus.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.button-minus {
  position: absolute;
  top: 69%;
  left: 520px;
  width: 13px;
  height: 1px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  background-image: url(../images/icons/Minus.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.auth-form-field.field::-webkit-input-placeholder {
  color: #000000;
}
.number-form-field.fieldkh::-webkit-input-placeholder {
  color: #000000;
}
.number-form-field.field::-webkit-input-placeholder {
  color: #000000;
}

.auth-form-field.field:-moz-placeholder {
  color: #000000;
}
.number-form-field.fieldkh:-moz-placeholder {
  color: #000000;
}
.number-form-field.field::-moz-placeholder {
  color: #000000;
}

.button-minus:hover {
  fill: #000000;
  opacity: 0.3;
}

.button-minus:focus {
  box-shadow: 0 0 0 3px #83b3d3;
  outline: none;
  border-radius: 4px;
}
.button-minus:active {
  fill: #000000;
  opacity: 0.2;
}

.button-plus:hover {
  fill: #000000;
  opacity: 0.3;
}

.button-plus:focus {
  box-shadow: 0 0 0 3px #83b3d3;
  outline: none;
  border-radius: 4px;
}
.button-plus:active {
  fill: #000000;
  opacity: 0.2;
}

.button-more-less.more:hover {
  fill: #000000;
  opacity: 0.3;
}

.button-more-less.more:focus {
  box-shadow: 0 0 0 3px #83b3d3;
  outline: none;
  border-radius: 4px;
}
.button-more-less.more:active {
  fill: #000000;
  opacity: 0.2;
}

.button-more-less.less:hover {
  fill: #000000;
  opacity: 0.3;
}

.button-more-less.less:focus {
  box-shadow: 0 0 0 3px #83b3d3;
  outline: none;
  border-radius: 4px;
}
.button-more-less.less:active {
  fill: #000000;
  opacity: 0.2;
}

.modal-container-close {
  display: none;
}
